USE [master]
GO
/****** Object:  Database [QL_KHACHSAN]    Script Date: 6/4/2022 10:02:25 AM ******/
CREATE DATABASE [QL_KHACHSAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_KHACHSAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_KHACHSAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_KHACHSAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_KHACHSAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_KHACHSAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_KHACHSAN]
GO
/****** Object:  Table [dbo].[dat_phong]    Script Date: 6/4/2022 10:02:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dat_phong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_khach_hang] [int] NULL,
	[id_phong] [int] NULL,
	[ngay_dat] [datetime] NULL,
	[ngay_tra] [datetime] NULL,
	[so_ngay_o] [int] NULL,
	[id_dich_vu] [int] NULL,
	[tong_tien] [int] NULL,
 CONSTRAINT [PK_tb_DatPhong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dich_vu]    Script Date: 6/4/2022 10:02:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dich_vu](
	[id_dich_vu] [int] IDENTITY(1,1) NOT NULL,
	[ten_dich_vu] [nchar](50) NULL,
	[gia] [float] NULL,
 CONSTRAINT [PK_tb_DichVu] PRIMARY KEY CLUSTERED 
(
	[id_dich_vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 6/4/2022 10:02:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[id_khach_hang] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nchar](50) NOT NULL,
	[cccd] [numeric](18, 0) NOT NULL,
	[sdt] [nchar](20) NULL,
	[email] [varchar](50) NULL,
	[dia_chi] [nchar](50) NULL,
 CONSTRAINT [PK_tb_KhachHang] PRIMARY KEY CLUSTERED 
(
	[id_khach_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_phong]    Script Date: 6/4/2022 10:02:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_phong](
	[id_loai_phong] [int] IDENTITY(1,1) NOT NULL,
	[ten_loai_phong] [nchar](50) NULL,
	[don_gia] [float] NULL,
	[so_nguoi] [int] NULL,
	[so_giuong] [int] NULL,
 CONSTRAINT [PK_tb_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[id_loai_phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_in]    Script Date: 6/4/2022 10:02:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_in](
	[id_khach_hang] [int] NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[pass_word] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phong]    Script Date: 6/4/2022 10:02:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phong](
	[id_phong] [int] IDENTITY(1,1) NOT NULL,
	[ten_phong] [nchar](10) NULL,
	[trang_thai] [nchar](10) NULL,
	[id_loai_phong] [int] NOT NULL,
 CONSTRAINT [PK_tb_Phong] PRIMARY KEY CLUSTERED 
(
	[id_phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phong_thiet_bi]    Script Date: 6/4/2022 10:02:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phong_thiet_bi](
	[id_phong] [int] NOT NULL,
	[id_thiet_bi] [int] NOT NULL,
	[so_luong] [int] NULL,
 CONSTRAINT [PK_tb_Phong-ThietBi] PRIMARY KEY CLUSTERED 
(
	[id_phong] ASC,
	[id_thiet_bi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thiet_bi]    Script Date: 6/4/2022 10:02:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thiet_bi](
	[id_thiet_bi] [int] IDENTITY(1,1) NOT NULL,
	[ten_thiet_bi] [nchar](50) NULL,
	[don_gia] [float] NULL,
 CONSTRAINT [PK_tb_ThietBi] PRIMARY KEY CLUSTERED 
(
	[id_thiet_bi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dat_phong]  WITH CHECK ADD  CONSTRAINT [FK_tb_DatPhong_tb_DichVu] FOREIGN KEY([id_dich_vu])
REFERENCES [dbo].[dich_vu] ([id_dich_vu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dat_phong] CHECK CONSTRAINT [FK_tb_DatPhong_tb_DichVu]
GO
ALTER TABLE [dbo].[dat_phong]  WITH CHECK ADD  CONSTRAINT [FK_tb_DatPhong_tb_KhachHang] FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[khach_hang] ([id_khach_hang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dat_phong] CHECK CONSTRAINT [FK_tb_DatPhong_tb_KhachHang]
GO
ALTER TABLE [dbo].[dat_phong]  WITH CHECK ADD  CONSTRAINT [FK_tb_DatPhong_tb_Phong] FOREIGN KEY([id_phong])
REFERENCES [dbo].[phong] ([id_phong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dat_phong] CHECK CONSTRAINT [FK_tb_DatPhong_tb_Phong]
GO
ALTER TABLE [dbo].[log_in]  WITH CHECK ADD FOREIGN KEY([id_khach_hang])
REFERENCES [dbo].[khach_hang] ([id_khach_hang])
GO
ALTER TABLE [dbo].[phong]  WITH CHECK ADD  CONSTRAINT [FK_tb_Phong_tb_LoaiPhong] FOREIGN KEY([id_loai_phong])
REFERENCES [dbo].[loai_phong] ([id_loai_phong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[phong] CHECK CONSTRAINT [FK_tb_Phong_tb_LoaiPhong]
GO
ALTER TABLE [dbo].[phong_thiet_bi]  WITH CHECK ADD  CONSTRAINT [FK_tb_Phong-ThietBi_tb_Phong] FOREIGN KEY([id_phong])
REFERENCES [dbo].[phong] ([id_phong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[phong_thiet_bi] CHECK CONSTRAINT [FK_tb_Phong-ThietBi_tb_Phong]
GO
ALTER TABLE [dbo].[phong_thiet_bi]  WITH CHECK ADD  CONSTRAINT [FK_tb_Phong-ThietBi_tb_ThietBi] FOREIGN KEY([id_thiet_bi])
REFERENCES [dbo].[thiet_bi] ([id_thiet_bi])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[phong_thiet_bi] CHECK CONSTRAINT [FK_tb_Phong-ThietBi_tb_ThietBi]
GO
USE [master]
GO
