USE [master]
GO
/****** Object:  Database [QL_KHACHSAN]    Script Date: 5/29/2022 2:03:05 AM ******/
CREATE DATABASE [QL_KHACHSAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_KHACHSAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_KHACHSAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_KHACHSAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_KHACHSAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_KHACHSAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_KHACHSAN]
GO
/****** Object:  Table [dbo].[tb_DatPhong]    Script Date: 5/29/2022 2:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DatPhong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDKhachHang] [int] NULL,
	[IDPhong] [int] NULL,
	[NgayDat] [datetime] NULL,
	[NgayTra] [datetime] NULL,
	[SoNgayO] [int] NULL,
	[UserID] [int] NULL,
	[IDDichVu] [int] NULL,
	[TongTien] [int] NULL,
 CONSTRAINT [PK_tb_DatPhong] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DichVu]    Script Date: 5/29/2022 2:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DichVu](
	[IDDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TENDichVu] [nchar](50) NULL,
	[GIA] [float] NULL,
 CONSTRAINT [PK_tb_DichVu] PRIMARY KEY CLUSTERED 
(
	[IDDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KhachHang]    Script Date: 5/29/2022 2:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KhachHang](
	[IDKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nchar](50) NOT NULL,
	[CCCD] [nchar](20) NOT NULL,
	[SDT] [nchar](20) NULL,
	[EMAIL] [nchar](20) NULL,
	[DiaChi] [nchar](50) NULL,
 CONSTRAINT [PK_tb_KhachHang] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_LoaiPhong]    Script Date: 5/29/2022 2:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LoaiPhong](
	[IDLoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[TENLoaiPhong] [nchar](50) NULL,
	[DonGia] [float] NULL,
	[SoNguoi] [int] NULL,
	[SoGiuong] [int] NULL,
 CONSTRAINT [PK_tb_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[IDLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Phong]    Script Date: 5/29/2022 2:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Phong](
	[IDPhong] [int] IDENTITY(1,1) NOT NULL,
	[TENPhong] [nchar](10) NULL,
	[TrangThai] [nchar](10) NULL,
	[IDLoaiPhong] [int] NOT NULL,
 CONSTRAINT [PK_tb_Phong] PRIMARY KEY CLUSTERED 
(
	[IDPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Phong-ThietBi]    Script Date: 5/29/2022 2:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Phong-ThietBi](
	[IDPhong] [int] NOT NULL,
	[IDThietBi] [int] NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_tb_Phong-ThietBi] PRIMARY KEY CLUSTERED 
(
	[IDPhong] ASC,
	[IDThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ThietBi]    Script Date: 5/29/2022 2:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ThietBi](
	[IDThietBi] [int] IDENTITY(1,1) NOT NULL,
	[TENThietBi] [nchar](50) NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [PK_tb_ThietBi] PRIMARY KEY CLUSTERED 
(
	[IDThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Users]    Script Date: 5/29/2022 2:03:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nchar](50) NULL,
	[user_name] [nchar](50) NULL,
	[pass_wd] [nchar](50) NULL,
 CONSTRAINT [PK_tb_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_tb_DatPhong_tb_DichVu] FOREIGN KEY([IDDichVu])
REFERENCES [dbo].[tb_DichVu] ([IDDichVu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_DatPhong] CHECK CONSTRAINT [FK_tb_DatPhong_tb_DichVu]
GO
ALTER TABLE [dbo].[tb_DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_tb_DatPhong_tb_KhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[tb_KhachHang] ([IDKhachHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_DatPhong] CHECK CONSTRAINT [FK_tb_DatPhong_tb_KhachHang]
GO
ALTER TABLE [dbo].[tb_DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_tb_DatPhong_tb_Phong] FOREIGN KEY([IDPhong])
REFERENCES [dbo].[tb_Phong] ([IDPhong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_DatPhong] CHECK CONSTRAINT [FK_tb_DatPhong_tb_Phong]
GO
ALTER TABLE [dbo].[tb_DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_tb_DatPhong_tb_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[tb_Users] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_DatPhong] CHECK CONSTRAINT [FK_tb_DatPhong_tb_Users]
GO
ALTER TABLE [dbo].[tb_Phong]  WITH CHECK ADD  CONSTRAINT [FK_tb_Phong_tb_LoaiPhong] FOREIGN KEY([IDLoaiPhong])
REFERENCES [dbo].[tb_LoaiPhong] ([IDLoaiPhong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Phong] CHECK CONSTRAINT [FK_tb_Phong_tb_LoaiPhong]
GO
ALTER TABLE [dbo].[tb_Phong-ThietBi]  WITH CHECK ADD  CONSTRAINT [FK_tb_Phong-ThietBi_tb_Phong] FOREIGN KEY([IDPhong])
REFERENCES [dbo].[tb_Phong] ([IDPhong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Phong-ThietBi] CHECK CONSTRAINT [FK_tb_Phong-ThietBi_tb_Phong]
GO
ALTER TABLE [dbo].[tb_Phong-ThietBi]  WITH CHECK ADD  CONSTRAINT [FK_tb_Phong-ThietBi_tb_ThietBi] FOREIGN KEY([IDThietBi])
REFERENCES [dbo].[tb_ThietBi] ([IDThietBi])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_Phong-ThietBi] CHECK CONSTRAINT [FK_tb_Phong-ThietBi_tb_ThietBi]
GO
USE [master]
GO
